<!doctype html>
<html lang="en">
<head>
  {% render 'meta' %}
  {% render 'favicon' %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-9EY71B4ELP"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-9EY71B4ELP');
  </script>

  {{ content_for_header }} <!-- Header hook for plugins -->
  {{ 'fonts.css' | asset_url | stylesheet_tag }}
  {{ 'index.css' | asset_url | stylesheet_tag }}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">
</head>
<body>
  {% render 'cart' %}
  {% render 'nav' %}

  <main role="main">
    {% if shop.metafields.accentuate.show_twitch_stream %}
      <div
        id="stream"
        class="{% if template.name != "index" %}pip{% endif %} site-padding-x pt_625 md:pt1_25">
        <div class="stream__wrapper">
          <iframe
            src="https://player.twitch.tv/?channel=indexspace&parent=index-space.org"
            height="100%"
            width="100%"
            autoplay="true"
            muted="true"
            allowfullscreen="true">
          </iframe>
        </div>
      </div>
    {% endif %}

    {{ content_for_layout }}
  </main>

  {% render 'footer' %}
  {% render 'cookie-consent' %}

  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
  {{ 'index.js' | asset_url | script_tag }}
</body>
</html>
