<!doctype html>
<html lang="en">
<head>
  {% render 'meta' %}
  {% render 'favicon' %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-9EY71B4ELP"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-9EY71B4ELP');
  </script>

  {{ content_for_header }} <!-- Header hook for plugins -->
  {{ 'fonts.css' | asset_url | stylesheet_tag }}
  {{ 'index.css' | asset_url | stylesheet_tag }}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">
</head>
<body>
  {% render 'cart' %}
  {% render 'nav' %}

  <main role="main">
    {{ content_for_layout }}
  </main>

  {% render 'footer' %}
  {% render 'cookie-consent' %}
  
  {{ 'index.js' | asset_url | script_tag }}
</body>
</html>
