{% render 'home-header' %}

<div class="site-padding-x w100 text-center">
  <a aria-label={{ 'snippets.404.link.aria-label' | t }} href="/">
    <img alt={{ 'snippets.404.image.alt' | t }} class="Cart__empty--image w100 self-center" src="{{ 'xxxi-space.jpg' | asset_url }}" />
    <p class="serif-xs text-center pt_5">
      <span class="block">{{ 'snippets.404.text.line-1' | t }}</span>
      <span class="block">{{ 'snippets.404.text.line-2' | t }}</span>
    </p>
  </a>
</div>
