<!-- Assign label and disabled state to add to cart button -->
{% capture button_label %}{{"snippets.add_to_cart_container.add_to_cart_btn.text" | t }}{% endcapture %}
{% assign button_disabled = false %}
{% if product.available %}
  {% case product_type %}
    {% when "Course" %}
    {% when "Event" %}
      {% capture button_label %}{{"snippets.add_to_cart_container.registration_closed_btn.text" | t }}{% endcapture %}
      {% assign button_disabled = true %}
  {% endcase %}
    {% else %}
      {% capture button_label %}{{"snippets.add_to_cart_container.sold_out_btn.text" | t }}{% endcapture %}
      {% assign button_disabled = true %}
{% endif %}

<div class="AddToCartContainer px_625 md:px0">
  <form data-add-to-cart-form data-product-type={{product_type}} action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
    <div class="AddToCartContainer__quantity-select-wrapper overflow-hidden relative {% if product.variants.size <= 1 %} mb1_75 {% endif %}">
      <label for="quantity" type="number" name="quantity" aria-label={{"snippets.add_to_cart_container.quantity_spinner.label" | t }}></label>
      <select class="sans-xs uppercase radius-xs border-black w100 pl1_125 py_5" name="quantity" id="Quantity" data-product-quantity-selector>
        <option value="1" selected="selected">1</option>
        {% comment %}
        TO-DO (#177): Add notification if user adds quantity > product inventory
        {% endcomment %}
        {% for i in (2...10) %}
          <option value="{{ i }}">{{ i }}</option>
        {% endfor %}       
      </select>
    </div>
    <div class="AddToCartContainer__variant-select-wrapper overflow-hidden relative mt_625 mb1_75{% if product.variants.size <= 1 %} none {% endif %}">
      <label for="variant" type="text" name="variant" aria-label={{"snippets.add_to_cart_container.variant_select.label" | t }}></label>

      {% if product.variants.size <= 1 %}
        <select class="sans-xs uppercase radius-xs border-black w100 pl1_125 py_5 none" name="variant">
          <option value="" selected="selected">{{"snippets.add_to_cart_container.variant_select.label" | t }}</option>
        </select>
      {% else %}
        <select class="sans-xs uppercase radius-xs border-black w100 pl1_125 py_5" name="variant" data-product-variant-selector>
          {% for variant in product.variants %}
            <option data-product-variant-option data-variantId="{{ variant.id }}" data-variantQty="{{ variant.inventory_quantity }}" value="{{ variant.id }}" {% if variant.available != true %} disabled {% endif %}>
              {{ variant.title }}
            </option>
          {% endfor %}
        </select>
      {% endif %}
    </div>
    <button data-variant-id={{ product.first_available_variant.id }} data-add-to-cart-button {% if button_disabled %} disabled {% endif %} class="w100 color-white uppercase sans-light-sm radius-xs bg-color-black py_75" type="submit" name="add" id="AddToCart">
      {{button_label}}
    </button>
  </form>
</div>
