<!-- Get product type -->
{% assign product_type = "" %}
{% if product.variants[0].metafields.bookings != blank %}
  {% assign product_type = product.variants[0].metafields.bookings.bookable_type %}
{% else %}
  {% assign product_type = product.type %}
{% endif %}
{% assign lowercase_product_type = product_type | downcase %}

{% capture button_label %}{{"snippets.add_to_cart_container.add_to_cart_btn.text" | t }}{% endcapture %}
{% assign button_disabled = false %}

<!-- Assign label and disabled state to add to cart button -->
{% if lowercase_product_type == "event" or lowercase_product_type == "course" or lowercase_product_type == "workshop" %}

  <!-- For bookings products -->
  {% assign current_variant = product.selected_or_first_available_variant %}
  {% assign bookings_metafields = current_variant.metafields.bookings %}
  {% assign todays_date = 'now' | date: '%s' %}

  {% if lowercase_product_type == "course" %}
    {% assign sessions_sorted = bookings_metafields.sessions | sort: 'starts_at' %}
    {% assign starts_at = sessions_sorted.first.starts_at | date: '%s' %}
    {% assign ends_at = sessions_sorted.last.ends_at | date: '%s' %}
  {% elsif lowercase_product_type == "event" %}
    {% assign starts_at = bookings_metafields.starts_at | date: '%s' %}
    {% assign ends_at = bookings_metafields.ends_at | date: '%s' %}
  {% endif %}

  {% if product.metafields.accentuate.starts_at and product.metafields.accentuate.ends_at %}
    {% assign starts_at = product.metafields.accentuate.starts_at | date: '%s' %}
    {% assign ends_at = product.metafields.accentuate.ends_at | date: '%s' %}
  {% endif %}

  {% if todays_date > ends_at %}
    {% capture button_label %}{{"snippets.add_to_cart_container.past_btn.text" | t }}{% endcapture %}
    {% assign button_disabled = true %}
  {% elsif todays_date > starts_at %}
    {% capture button_label %}{{"snippets.add_to_cart_container.registration_closed_btn.text" | t }}{% endcapture %}
    {% assign button_disabled = true %}
  {% elsif todays_date < starts_at and current_variant.available != true %}
    {% capture button_label %}{{"snippets.add_to_cart_container.sold_out_btn.text" | t }}{% endcapture %}
    {% assign button_disabled = true %}
  {% endif %}

{% else %}

  <!-- For regular products (non bookings) -->
  {% if product.available != true %}
    {% capture button_label %}{{"snippets.add_to_cart_container.sold_out_btn.text" | t }}{% endcapture %}
    {% assign button_disabled = true %}
  {% endif %}

{% endif %}

<div class="AddToCartContainer px_625 md:px0">
  <form data-product-add-to-cart-form data-product-type={{product_type}} action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
    <div class="AddToCartContainer__quantity-select-wrapper overflow-hidden relative {% if product.variants.size <= 1 %} mb1_875 {% endif %}">
      <label for="quantity" type="number" name="quantity" aria-label={{"snippets.add_to_cart_container.quantity_spinner.label" | t }}></label>
      <select class="sans-xs uppercase radius-xs border-black w100 pl1_125 pb_875 pt1" name="quantity" id="Quantity" >
        <option value="1" selected="selected">1</option>
        {% for i in (2...5) %}
          <option value="{{ i }}">{{ i }}</option>
        {% endfor %}       
      </select>
    </div>
    <div class="AddToCartContainer__variant-select-wrapper overflow-hidden relative mt_625 mb1_875{% if product.variants.size <= 1 %} none {% endif %}">
      <label for="variant" type="text" name="variant" aria-label={{"snippets.add_to_cart_container.variant_select.label" | t }}></label>
      {% if product.variants.size <= 1 %}
        <select class="sans-xs uppercase radius-xs border-black w100 pl1_125 pb_875 pt1" name="variant">
          <option value="{{ product.first_available_variant.id }}" selected="selected">{{ product.first_available_variant.id }}</option>
        </select>
      {% else %}
        <select class="sans-xs uppercase radius-xs border-black w100 pl1_125 pb_875 pt1" name="variant" >
          {% for variant in product.variants %}
            <option value="{{ variant.id }}" {% if variant.available != true %} disabled {% endif %}>
              {{ variant.title }}
            </option>
          {% endfor %}
        </select>
      {% endif %}
    </div>
    <button {% if isDesktop %} data-desktop-product-add-to-cart-button {% else %} data-mobile-product-add-to-cart-button {% endif %}
    {% if button_disabled %} disabled {% endif %} class="AddToCartContainer__button w100 color-white uppercase sans-light-sm radius-xs bg-color-black pb_5 pt_625" type="submit" name="add" id="AddToCart">
      {{button_label}}
    </button>
    <div {% if isDesktop %} data-desktop-product-add-to-cart-button-error {% else %} data-mobile-product-add-to-cart-button-error {% endif %} class="AddToCartContainer__error-message--inactive color-red sans-xs py_625 md:pb0 md:pt_625 transition-short">
      {{"snippets.add_to_cart_container.add_to_cart_btn_error.text" | t }}
    </div>
  </form>
</div>
