{% assign cart_item_count = cart.item_count %}

<div class="Cart__inner border-thick-black overflow-y-scroll">
  <form action="/cart" method="post" novalidate>
    {% if cart_item_count > 0 %}
        {% for item in cart.items %}
          {% render 'cart-item', item: item %}  
        {% endfor %}
    {% else %}
      <!--TO-DO: Implement Cart Empty State -->
      Cart is empty
    {% endif %}
  
    <span data-cart-item-count={{cart_item_count}} class="none"></span>

    <div class="Cart__checkout-container bg-color-white border-thick-black serif-sm flex justify-between p_625">
      <p>{{ cart.total_price | money }}</p>
      <button {% if cart_item_count <= 0 %} disabled {% endif %} aria-label={{ 'snippets.cart.checkout_button.aria_label' | t }} class="Cart__checkout-button button--style-no-style serif-sm uppercase" type="submit" name={{ 'snippets.cart.checkout_button.name' | t }}>{{ 'snippets.cart.checkout_button.text' | t }}</button>
    </div>
  </form>
</div>
