<div class="HomeHeader serif-xl site-padding-x pt_625 md:pt1_25 md:pb5">
  Library is a community space and forum for exchange. Our 
  <a class="HomeHeader__button button--style-rounded-border-sm" href="/offerings" target="_blank" rel="noreferrer noopener" aria-label="{{ 'snippets.home_header.links.offerings_link.aria_label' | t }}">
    {{ 'snippets.home_header.links.offerings_link.text' | t }}
  </a>
  include peer-led skill workshops and other tools. We also host public conversations and events, and keep a repository for shared
  <a class="HomeHeader__button button--style-rounded-border-sm" href="/knowledege" target="_blank" rel="noreferrer noopener" aria-label="{{ 'snippets.home_header.links.knowledge_link.aria_label' | t }}">
    {{ 'snippets.home_header.links.knowledge_link.text' | t }}
  </a>.
  <a class="hover-lighten-black" href="/about" target="_blank" rel="noreferrer noopener" aria-label="{{ 'snippets.home_header.links.learn_more_link.aria_label' | t }}">
    {{ 'snippets.home_header.links.learn_more_link.text' | t }}
  </a>
</div>
