{% assign product = all_products[shop.metafields.globals['knowledge_area_product'][module.index]]%}
{% assign caption = shop.metafields.globals['knowledge_area_prod_caption'][module.index]%}

<div class="KnowledgeAreaFeaturedProduct mb_125 flex flex-col md:flex-row col-12">
  <a class="KnowledgeAreaFeaturedProduct__product-container bg-color-black color-white text-decoration-none relative col-12 md:col-9 mx_125 md:ml_125" href="{{ product.url }}" aria-label="{{ 'snippets.product_grid_item.product_btn.aria_label' | t }}" >
    <div class="KnowledgeAreaFeaturedProduct__inner-container bg-color-black color-white m_625">
      <div class="flex flex-col">
        <span class="KnowledgeAreaFeaturedProduct__title uppercase serif-xs">{{product.title}}</span>
        <span class="KnowledgeAreaFeaturedProduct__vendor uppercase sans-xs">{{product.vendor}}</span>
      </div>
      <div class="KnowledgeAreaFeaturedProduct__image-container flex items-center justify-center absolute t0 r0 h100 w100">
        <img class="KnowledgeAreaFeaturedProduct__image w100 h100 fit-contain xs:py1" src="{{ product.featured_image.src | img_url: 'x265' }}" alt="{{ product.featured_image.alt | escape }}">
      </div>
      <div class="KnowledgeAreaFeaturedProduct__details absolute r0 b0 p_625 sans-xxs uppercase flex justify-between w100">
        <span class="flex items-center">
          <span class="dot mr_25"></span>
          <span>{{ product.type }}</span>
        </span>
      </div>
    </div>
  </a>
  <p class="KnowledgeAreaFeaturedProduct__caption col-10 pt2_5 pb7 md:pb0 md:pt0 md:col-3 md:pl2_5 sans-xs color-black site-padding-x">
    {{ caption }}
  </p>
</div>
