<nav class="Nav none md:flex border-bottom-black text-nav uppercase sans-serif py_5 px_625 md:px1_25 flex justify-between">
  <div>
    <a class="{% if request.path == '/' %} Nav__button--active" {% endif %}" href="/" aria-label="{{ 'snippets.nav.links.index_link.aria_label' | t }}">{{ 'snippets.nav.links.index_link.text' | t }}</a>
    <span>{{ 'snippets.nav.hyphen' | t }}</span>
    {% for link in linklists.main-menu.links %}
      <a class="{% if request.path == link.url %} Nav__button--active {% endif %}" href="{{ link.url }}">{{ link.title }}</a>{% unless link.title == linklists.main-menu.links.last.title %},{% endunless %}
    {% endfor %}  
  </div>
  <a href="/cart" aria-label="{{ 'snippets.nav.links.cart_link.aria_label' | t }}">{{ 'snippets.nav.links.cart_link.text' | t }}</a>
</nav>

<nav class="Nav MobileNav md:none border-bottom-black text-nav uppercase sans-serif py_5 px_625 md:px1_25 flex flex-col col-12">
  <div class="flex justify-between mb_25">
    <span>
      <a href="/" aria-label="{{ 'snippets.nav.links.index_link.aria_label' | t }}">{{ 'snippets.nav.links.index_link.text' | t }}</a>
      <button id="nav-open-menu-button"><img class="debug" src="{{ 'menu-icon.svg' | asset_url }}" /></button>
    </span>
   
    <a href="/cart" aria-label="{{ 'snippets.nav.links.cart_link.aria_label' | t }}">{{ 'snippets.nav.links.cart_link.text' | t }}</a>
    </a>
  </div>

  <div id="nav-mobile-menu" class="transition-shorter opacity-0 events-none bg-color-white vh100 vw100 fixed t0 r0 flex flex-col py_5 px_625 md:px1_25">
    <div class="flex justify-between mb_25">
      <span>
        <a href="/" aria-label="{{ 'snippets.nav.links.index_link.aria_label' | t }}">{{ 'snippets.nav.links.index_link.text' | t }}</a>
        <button id="nav-close-menu-button"><img class="debug" src="{{ 'menu-icon.svg' | asset_url }}" /></button>
      </span>
     
      <a href="/cart" aria-label="{{ 'snippets.nav.links.cart_link.aria_label' | t }}">{{ 'snippets.nav.links.cart_link.text' | t }}</a>
      </a>
    </div>
    <a class="uppercase py1_875" href="/" aria-label="{{ 'snippets.nav.links.home_link.aria_label' | t }}">{{ 'snippets.nav.links.home_link.text' | t }}</a>
    <a class="uppercase pb1_875" href="/" aria-label="{{ 'snippets.nav.links.knowledge_areas_link.aria_label' | t }}">{{ 'snippets.nav.links.knowledge_areas_link.text' | t }}</a>
    <a class="uppercase pb1_875" href="/pages/about" aria-label="{{ 'snippets.nav.links.about_link.aria_label' | t }}">{{ 'snippets.nav.links.about_link.text' | t }}</a>
    <a class="uppercase" href="/pages/news" aria-label="{{ 'snippets.nav.links.news_link.aria_label' | t }}">{{ 'snippets.nav.links.news_link.text' | t }}</a>
  </div>

  <a class="{% if request.path == "/collections/all" %} Nav__button--active {% endif %}" href="/collections/all" aria-label="{{ 'snippets.nav.links.shop_link.aria_label' | t }}">{{ 'snippets.nav.links.shop_link.text' | t }}</a>
  
</nav>
