{% assign show_border_bottom = true %}

{% if request.page_type == 'collection' or request.page_type == 'product' %}
  {% assign show_border_bottom = false %}
{% endif %}

<nav class="Nav none md:flex {% if show_border_bottom %} border-bottom-black {% endif %} uppercase sans-serif py_5 px_625 md:px_5 text-nav flex items-center justify-between bg-color-white w100 fixed t0 z-nav">
  <div class="flex flex-row items-center justify-center">
    <a class="Nav__button radius-xs nav-button-padding {% if request.path == '/' %} Nav__button--active" {% endif %}" href="/" aria-label="{{ 'snippets.nav.links.index_link.aria_label' | t }}">{{ 'snippets.nav.links.index_link.text' | t }}</a>
    <span class="mx_75">{{ 'snippets.nav.hyphen' | t }}</span>
    {% for link in linklists.main-menu.links %}
      <a class="Nav__button radius-xs nav-button-padding mr1_875 {% if request.path == link.url %} Nav__button--active {% endif %}" href="{{ link.url }}">{{ link.title }}</a>
    {% endfor %}  
  </div>
  {% render 'nav-cart' %}
</nav>

<nav data-activatable-toggleable-item="mobileNav" class="Nav MobileNav md:none border-bottom-black text-nav uppercase sans-serif py_5 pl_625 pr_75 md:px1_25 flex flex-col col-12 bg-color-white z-nav fixed t0">
  <div class="flex justify-between mb_25">
    <span class="flex items-center justify-center">
      <a class="Nav__button radius-xs nav-button-padding mr_5 md:mr0" href="/" aria-label="{{ 'snippets.nav.links.index_link.aria_label' | t }}">{{ 'snippets.nav.links.index_link.text' | t }}</a>
      <button data-activatable-activator="mobileNav" class="MobileNav__icon transition-long bg-color-transparent"><img class="w100 h100 fit-contain" src="{{ 'menu-icon.svg' | asset_url }}" alt="{{ 'snippets.nav.menu_icon.alt' | t }}" /></button>
    </span>
    {% render 'nav-cart' %}
  </div>

  <div id="nav-mobile-menu" class="MobileNav__menu transition-shorter bg-color-white vh100 vw100 fixed t0 r0 flex flex-col py_5 px_625 md:px1_25 z-nav">
    <div class="flex justify-between mb_25">
      <span class="flex items-center justify-center">
        <a class="Nav__button radius-xs nav-button-padding mr_5 md:mr0" href="/" aria-label="{{ 'snippets.nav.links.index_link.aria_label' | t }}">{{ 'snippets.nav.links.index_link.text' | t }}</a>
        <button data-activatable-deactivator="mobileNav" class="MobileNav__icon MobileNav__close-icon transition opacity-0 events-none bg-color-transparent"><img class="w100 h100 fit-contain" src="{{ 'close-icon.svg' | asset_url }}" alt="{{ 'snippets.nav.close_icon.alt' | t }}" /></button>
      </span>
      {% render 'nav-cart' %}
    </div>
    <div class="MobileNav__menu-links flex flex-col pt1_875">
      <a class="opacity-0 events-none hover-lighten-black uppercase" href="/" aria-label="{{ 'snippets.nav.links.home_link.aria_label' | t }}">{{ 'snippets.nav.links.home_link.text' | t }}</a>
      {% for link in linklists.main-menu.links %}
        <a class="opacity-0 events-none hover-lighten-black uppercase" href="{{ link.url }}" aria-label="{{ 'snippets.nav.links.offerings_link.aria_label' | t }}">{{ link.title }}</a>
      {% endfor %}  
    </div>
  </div>
</nav>
