<div class="NewsFeedItem overflow-hidden overflow-x-scroll flex items-center border-bottom-black py1_25 md:py_75 xs:pr0">
  <div class="flex col-1 md:pl_75">
    <img class="NewsFeedItem__image fit-contain w100 h100" src="{{ image_src }}" alt="{{ image_alt }}"/>
  </div>

  <div class="NewsFeedItem__text-row flex justify-between col-11">
    <span class="px1">{{ text }}</span>
    <a class="sans-xs hover-lighten-black" href="{{ button_link }}" aria-label="Navigate to {{ button_label }}">{{ button_label }}</a>
  </div>
</div>
