{% comment %} TO-DO: Change Vendor avatar placeholder once Shopify Bookings has the avatar. {% endcomment %}
{% assign product_media = current_product.media | first %}

<!-- Get product type -->
{% assign current_product_type = "" %}
{% if current_product.first_available_variant.metafields.bookings != blank %}
  {% assign current_product_type = current_product.first_available_variant.metafields.bookings.bookable_type %}
{% else %}
  {% assign current_product_type = current_product.type %}
{% endif %}


<a data-grid-item class class="ProductGridItem bg-color-black color-white text-decoration-none hover--style-rounded-border relative p1_25" href="{{ current_product.url }}" aria-label="{{ 'snippets.product_grid_item.product_btn.aria_label' | t }}" >
  <div class="ProductGridItem__inner-container bg-color-black h100 flex flex-col justify-between">
    {% if current_product.metafields.accentuate.featured_product_text and current_product.metafields.accentuate.is_featured_product and show_featured_product %}
      <span class="flex flex-col uppercase">
        <span class="color-yellow serif-md">
          {{ current_product.metafields.accentuate.featured_product_text }}
        </span>
        <span class="ProductGridItem__title serif-md color-white">{{current_product.title}}</span>
        {% render 'product-vendor' product: current_product, display_variant: 'featured-grid-item' %}
      </span>
    {% else %}
      <span class="flex flex-col uppercase">
        <div class="flex justify-between">
          <span class="ProductGridItem__title">{{current_product.title}}</span>
          <span class="ProductGridItem__price uppercase">{{current_product.price | money_without_trailing_zeros }}</span>
        </div>
        {% render 'product-vendor' product: current_product, display_variant: 'grid-item' %}
      </span>
    {% endif %}

    <div class="ProductGridItem__image-container flex items-center justify-center">
      <img class="ProductGridItem__image w100 h100 fit-contain xs:py1 opacity-0 events-none" src="{{ product_media.src | img_url: 'x620' }}" alt="{{ product_media.alt | escape }}">
    </div>

    <div class="ProductGridItem__details sans-xxs uppercase flex justify-between w100">
      <span class="flex items-center">
        <span class="bulleted">{{ current_product_type }}</span>
      </span>
      {% for tag in product.tags %}
        <span class="ml_625 radius-xs border-white p_25">{{ tag }}</span>
      {% endfor %}
    </div>
  </div>
</a>
