{% assign current_variant = product.selected_or_first_available_variant %}
{% assign is_course = false %}

{% if current_variant.metafields.bookings != blank and current_variant.metafields.bookings.bookable_type == "Course" %}
  {% assign is_course = true %}
{% endif %}

{% if is_course %}
  <div class="ProductDescription__tabs sticky pt1_25 pb_5 site-padding-x z-description flex flex-row items flex-nowrap overflow-x-auto overflow-y-hidden w100">
    {% for value in product.metafields.accentuate.title %}
      <a 
        data-product-description-tab 
        class="ProductDescription__button {% if forloop.index0 == 0 %} ProductDescription__button--active {% endif %} nav-button-padding sans-serif-light radius-xs" 
        href="{{ value | handleize | prepend: "#" }}">
          {{ value }}
      </a>
    {% endfor %}
  </div>
  <div class="ProductDescription site-padding-x">
    {% for value in product.metafields.accentuate.markdown %}
        {% assign id = product.metafields.accentuate.title[forloop.index0] | handleize %}
        <div id="{{ id }}" class="ProductDescription__content" data-product-description-content>
          {% if forloop.index0 != 0 %}
            <h1>{{ product.metafields.accentuate.title[forloop.index0] }}</h1>
          {% endif %}
          {% render 'markdown' markdown: value.html, classes: "ProductDescription__markdown" %}
        </div>
    {% endfor %}
    <!-- <div>
      {% render 'markdown' markdown: product.metafields.accentuate.long_product_description.html %}  
    </div> -->
  </div>
{% else %}
  <div class="Product__description site-padding-x py1_25 md:col-9 color-black">
    {{ product.description }}
  </div>
{% endif %}