{% assign current_variant = product.selected_or_first_available_variant %}
{% assign show_detailed_description = false %}

{% if current_variant.metafields.bookings != blank and current_variant.metafields.bookings.bookable_type == "Course" %}
  {% assign show_detailed_description = true %}
{% endif %}

{% assign lowercase_product_type = product.type | downcase %}
{% if lowercase_product_type == "event" or lowercase_product_type == "course" or lowercase_product_type == "workshop" %}
  {% if product.metafields.accentuate.title and product.metafields.accentuate.markdown %}
    {% assign show_detailed_description = true %}
  {% endif %}
{% endif %}

{% if show_detailed_description %}
  <div data-product-description-tabs-wrapper class="ProductDescription__tabs border-bottom-black sticky pt_5 pb_5 site-padding-x z-description flex flex-row items flex-nowrap overflow-x-auto overflow-y-hidden w100">
    {% for title in product.metafields.accentuate.title %}
      <a 
        data-product-description-tab 
        class="ProductDescription__button {% if forloop.index0 == 0 %} ProductDescription__button--active {% endif %} nav-button-padding sans-serif-light radius-xs" 
        href="{{ title | handleize | prepend: "#" }}">
          {{ title }}
      </a>
    {% endfor %}
  </div>
  <div class="ProductDescription site-padding-x py1_25">
    {% for markdown in product.metafields.accentuate.markdown %}
        {% assign id = product.metafields.accentuate.title[forloop.index0] | handleize %}
        <div id="{{ id }}" class="ProductDescription__content" data-product-description-content>
          {% if forloop.index0 != 0 %}
            <h1 class="ProductDescription__content-title">{{ product.metafields.accentuate.title[forloop.index0] }}</h1>
          {% endif %}
          {% render 'markdown' markdown: markdown.html, classes: "ProductDescription__markdown" %}
        </div>
    {% endfor %}
  </div>
{% else %}
  <div class="Product__description site-padding-x py1_25 md:col-9 color-black">
    {{ product.description }}
  </div>
{% endif %}