<!-- Check if product already exists in cart -->
{% for item in cart.items %}
  {% if item.product.id == product.id %}
    {% assign product_in_cart = true %}
    {% break %}
  {% else %}
    {% assign product_in_cart = false %}
  {% endif %}
{% endfor %}

<!-- Get product type -->
{% assign product_type = "" %}
{% if product.first_available_variant.metafields.bookings != blank %}
  {% assign product_type = product.first_available_variant.metafields.bookings.bookable_type %}
{% else %}
  {% assign product_type = product.type %}
{% endif %}

<!-- Assign label and disabled state to add to cart button -->
{% capture button_label %}{{"snippets.product_info_bar.add_to_cart_btn.text" | t }}{% endcapture %}
{% assign button_disabled = false %}
{% if product.available %}
  {% if product_in_cart %}
    {% capture button_label %}{{"snippets.product_info_bar.added_to_cart_btn.text" | t }}{% endcapture %}
    {% assign button_disabled = true %}
  {% endif %}
{% else %}
  {% case product_type %}
    {% when "Course" %}
    {% when "Event" %}
      {% capture button_label %}{{"snippets.product_info_bar.registration_closed_btn.text" | t }}{% endcapture %}
      {% assign button_disabled = true %}
    {% else %}
      {% capture button_label %}{{"snippets.product_info_bar.sold_out_btn.text" | t }}{% endcapture %}
      {% assign button_disabled = true %}
  {% endcase %}
{% endif %}

<div class="ProductInfoBar border-thick-top-white border-thick-bottom-white flex flex-col md:flex-row justify-between z-1">
  <span class="ProductInfoBar__product-details col-12 md:col-7 flex items-center sans-light-sm uppercase color-white border-thick-bottom-white px_625 py1 md:pr0 md:pl1 md:py1_3125">
    <span class="ProductInfoBar__type bulleted">{{product_type}}</span>
    <span class="ProductInfoBar__tags">
      {% for tag in product.tags %}
        <span class="ml_625 radius-xs border-white p_25">{{ tag }}</span>
      {% endfor %}
    </span>
  </span>
  <div class="ProductInfoBar__add-to-cart-container col-12 md:col-5 flex flex-row justify-start md:justify-end px_625 py1 md:pl0 md:py1_3125 color-white sans-light-md uppercase">
    <span class="pt_15 md:none">{{ product.price | money_without_trailing_zeros }}</span>
    <span class="pt_15 md:none mx_25">-</span>
    
    <form data-add-to-cart-form data-product-type={{product_type}} action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
      <select class="{% if product.variants.size <= 1 %} none {% endif %}" name="variant" data-variant-selector>
        {% for variant in product.variants %}
          <option value="{{ variant.id }}">
            {{ variant.title }}
          </option>
        {% endfor %}
      </select>

      <button data-variant-id={{product.first_available_variant.id}} data-add-to-cart-button {% if button_disabled %} disabled {% endif %} class="button--style-rounded-border-sm-white sans-light-md uppercase bg-color-transparent color-white" type="submit" name="add" id="AddToCart">
        {{button_label}}
      </button>
    </form>
  </div>
</div>
